/* Extra Small (XS) */
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }

  .preloader img {
    height: 200px;
  }

  .container {
    text-align: center;
    gap: 2rem;
  }

  h1 {
    width: 90%;
  }

  .navbar {
    width: 90%;
  }

  .nav__list {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  input[type="checkbox"] {
    display: none;
  }

  .tagline span {
    font-size: 2rem;
  }

  .search__menu {
    justify-content: space-around;
    padding: 0 1rem;
    gap: 1rem;
    overflow: auto;
  }

  .search__menu img {
    height: 24px;
  }

  .stay__search {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
  }

  #search {
    width: 80%;
  }

  .frame {
    height: 57vh;
    padding: 1.5rem 0 0 0;
  }

  .field-container {
    flex-direction: column;
    height: auto;
    min-height: 50vh;
    gap: 1rem;
  }

  .field {
    width: 80%;
  }

  .hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain 300px auto;
  }

  .hero-section {
    min-height: 50vh;
    width: 90%;
  }

  .hero-section p {
    font-size: 2rem;
    top: 5%;
  }

  .feature-section {
    width: 90%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .feature__card {
    width: 100%;
  }

  .stay-section {
    min-height: auto;
    font-size: 1.1rem;
    width: 90%;
  }

  .stay__card img {
    height: auto;
    max-height: 50vh;
    object-fit: cover;
  }

  .flight__card:nth-child(even) {
    display: none;
  }

  .places-section {
    min-height: auto;
    width: 90%;
  }

  .places__card img {
    height: auto;
    max-height: 40vh;
  }

  .testimonial-section {
    flex-wrap: wrap;
    width: 90%;
  }

  .testimonial__card {
    width: 95%;
    height: 40vh;
  }

  .comment {
    text-wrap: balance;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .footer-section {
    width: 90%;
    font-size: 1rem;
    text-wrap: balance;
    height: auto;
    padding: 1rem 0;
  }

  .footer__top {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .footer__logo {
    text-align: left;
    line-height: 1.5;
    gap: 1rem;
  }

  .news,.subscribe__btn,.f-menu{
    display: none;
  }

  .footer__bottom {
    flex-wrap: wrap-reverse;
    gap: 1rem;
    column-gap: 4rem;
    justify-content: center;
  }

  .social__links img {
    height: 22px;
  }
}

/* Small (SM) */
@media (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .preloader img {
    height: 200px;
  }

  .container {
    text-align: center;
    gap: 2rem;
  }

  h1 {
    width: 90%;
  }

  .navbar {
    width: 90%;
  }

  .nav__list {
    display: none;
  }

  .nav__list__sm {
    width: 50%;
  }

  .burger-menu {
    display: block;
  }

  input[type="checkbox"] {
    display: none;
  }

  .tagline span {
    font-size: 2rem;
  }

  .search__menu {
    justify-content: space-around;
    padding: 0 1rem;
    gap: 1rem;
    overflow: auto;
  }

  .search__menu img {
    height: 24px;
  }

  .frame {
    height: 57vh;
    padding: 1.5rem 0 0 0;
  }

  .field-container {
    flex-direction: column;
    height: auto;
    min-height: 50vh;
    gap: 1rem;
  }

  .field {
    width: 50%;
  }

  .hero {
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero-section {
    height: auto;
    min-height: 75vh;
    width: 90%;
  }

  .hero-section p {
    font-size: 3rem;
    top: 5%;
  }

  .feature-section {
    width: 90%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .feature__card {
    width: 100%;
  }

  .stay-section {
    height: auto;
    min-height: 80vh;
  }

  .stay__card img {
    height: auto;
    max-height: 80vh;
    object-fit: cover;
  }

  .flight__card:nth-child(even) {
    display: none;
  }

  .testimonial-section {
    flex-wrap: wrap;
    width: 90%;
  }

  .testimonial__card {
    width: auto;
    max-width: 48%;
    height: 40vh;
  }

  .places-section {
    height: auto;
    min-height: 80vh;
  }

  .places__card img {
    height: auto;
    max-height: 80vh;
    object-fit: cover;
  }

  .comment {
    text-wrap: balance;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .footer-section {
    width: 90%;
    font-size: 1rem;
    text-wrap: balance;
  }

  .footer__top {
    gap: 1.5rem;
  }

  .footer__logo {
    text-align: left;
    line-height: 1.5;
    gap: 1rem;
  }

  .footer__bottom {
    flex-wrap: wrap;
    gap: 1rem;
    column-gap: 4rem;
    justify-content: center;
  }

  .social__links img {
    height: 22px;
  }
}

/* Medium (MD) */
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }

  .preloader img {
    height: 200px;
  }

  .search__menu {
    justify-content: space-around;
    padding: 0 1rem;
    gap: 1rem;
    overflow: auto;
  }

  .search__menu img {
    height: 24px;
  }

  .frame {
    padding: 1.5rem 0 0 0;
  }

  .hero {
    background-position: center;
  }

  .hero p {
    text-wrap: wrap;
  }

  .features {
    min-height: 30vh;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .feature__card {
    width: 45%;
  }

  .testimonial__card {
    width: auto;
    max-width: 300px;
    height: 40vh;
  }

  .comment {
    text-wrap: balance;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .login__form {
    width: 90%;
  }
}
