/* search box styling */

.search-box {
  min-height: 40vh;
  width: 85%;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
  min-height: 10vh;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 5px;
  font-weight: 500;
  height: 40px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu__item img {
  height: 30px;
}

.menu__item:hover {
  opacity: 70%;
  transform: scale(1.1);
}

.stay__search {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
}

.stay__search > label > a > img {
  height: 30px;
}

#search {
  font-size: 1.2rem;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1.5px solid lightgrey;
  transition: all 0.3s ease-in-out;
}

#search:hover {
  border: 1.5px solid var(--text-color);
}

#search:active {
  transform: scale(0.95);
}

.search__form {
  width: 100%;
  height: 30vh;
}

.frame {
  width: 100%;
  border: none;
  height: 100%;
}

.search__button{
    border: 1.5px solid var(--border-color);
    border-radius: 25px;
    padding: 10px;
    width: 100px;
    font-size: 1.2rem;
    background-color: var(--bg-color);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.search__button:hover{
    border: 1.5px solid var(--bg-color);
    transform: scale(.95);
    color: var(--bg-color);
    background-color: var(--primary-color);
}

/* flight search style */

.flight-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
  row-gap: 1.5rem;
  column-gap: 1rem;
  height: 100vh;
}

.field-container{
    display: inherit;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    width: 100%;
}

.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border: 1.5px solid lightgrey;
  border-radius: 25px;
  width: 20%;
  padding: 6px;
  padding-left: 1.5rem;
  font-family: var(--primary-font);
  color: var(--text-color);
  transition: all .3s ease-in-out;
}

.field img {
  height: 20px;
}

.swap img{
    height: 20px;
    cursor: pointer;
}


#flight__data {
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 60%;
}

.field:hover {
  border: 1.5px solid var(--text-color);
}
